<html>
<head>

</head>
  <body>
    <h1>Submitted Info</h1>
    <p>Name:<%= info['name'] %></p>
    <p>Dojo Location:<%= info['location'] %></p>
    <p>Favorite Language:<%= info['language'] %></p>
    <p>Comment: <%= info['comment'] %></p>
  </body>
</html>
