<fieldset name='fieldset'  ng-controller="PlayersController">
  <form class="" name='form' method="post">
    <label for="">First Name</label>
    <input type="text" name="" value="" ng-model="newplayer.firstname"><br><br>
    <label for="">Last Name</label>
    <input type="text" name="" value="" ng-model="newplayer.lastname"><br><br>
    <button id='addbutton' type="button" name="button" ng-click="add()" ng-Disabled="checkInput()">Add Player</button><br><br>
    <table>
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="player in players ">
        <td>{{player.id}}</td>
        <td>{{player.firstname}}</td>
        <td>{{player.lastname}}</td>
        <td><button type="button" name="button" ng-click=delete(player)>Remove Player</button></td>
      </tr>
    </table>
</fieldset>
